@charset "UTF-8";

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	/*whatever width you want*/
}

.right {
	position: fixed;
	top: 0;
	right: 0;
		height: 100%;
	width: 100%;
	text-align: right;
	border-bottom-color: red;
	border-bottom-style: solid;
	border-bottom-width: 1;
}